@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


 @import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Roboto&display=swap');


* {
  font-family: 'Kalnia', 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #d1f0cb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #d1f0cb;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #4d7024;
  margin: 30px;
  padding: 30px;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 2px solid #d1f0cb;
  padding: 0.5rem 1rem;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 300px;
  border-radius: 5px;
  color: #fff;
}

.todo-input::placeholder {
  color: #f1f1ed79;
}

.todo-btn {
  background: rgb(153, 173, 40);
  color: #d1f0cb;
  border: 2px solid #d1f0cb;
  margin: 3px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(153, 173, 40);
  color: #d1f0cb;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 16px;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #4d7024;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}